.banner {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('/images/background/people-office-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .top-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/background/people-office-tablet.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .top-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/background/people-office.jpg');
  }
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .top-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/background/people-office-mobile@2x.jpg);
    @media screen and (min-width: 768px) {
    }
    .top-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(/images/background/people-office-tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 1158px) {
    .top-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('/images/background/people-office@2x.jpg');
    }
  }
}
